/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");

/* default styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.fix_width {
  width: 82%;
  max-width: 1600px;
  margin: auto;
}

/* header styles */
.header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-position: center;
  background-size: cover;
  padding: 147px 0;
}

.header.container {
  margin: -150px auto;
}

.container > h4 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.container > h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 61px;
  font-weight: 900;
  line-height: 65px;
  margin-top: 10px;
}

/* discount section styles */
.discount_section {
  text-align: center;
  margin-top: 139px;
}

.discount_section h1 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 40px;
}

.discount_section p {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 14px;
}

.discount_section h2 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 45px;
}

.discount_section img {
  width: 600px;
  height: 400px;
  margin-bottom: 120px;
}

/* midnight party styles */
.midnight {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.midnight_text {
  padding-left: 48px;
  size: 50%;
}

.midnight_text h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 52px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0.6px;
  width: 527px;
}

.midnight_text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 571px;
  margin-bottom: 20px;
}

.btn {
  color: #f00;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #f00;
  outline: none;
  border-radius: 15px;
  letter-spacing: 2px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.4s;
  width: 183px;
  height: 48px;
}

.btn:hover {
  color: #fff;
  background: #f00;
  letter-spacing: 4px;
  border: none;
  outline: none;
}

.btn:hover:focus {
  outline: none;
}

.new_year_2024 {
  width: 50%;
}

/* address section styles */
.address {
  text-align: center;
  height: 395px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0;
  margin-bottom: 120px;
}

.address strong {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
}

.address p {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

/* coming soot section styles */
.coming_soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.coming_soon_item h5 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.coming_soon_item h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.coming_soon_item p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  width: 338px;
  margin-bottom: 40px;
}

.coming_soon_item_last {
  margin-top: 74px;
}

.coming_soon_item_last h2 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.coming_soon_item_last p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  width: 233px;
  margin-bottom: 40px;
}

.coming_soon .coming_soon_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  background: #fff;
}

.coming_soon .coming_soon_img .img_round {
  position: relative;
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 50%;
  margin: 30px;
  border: 10px solid #f00;
}

.coming_soon .coming_soon_img .img_round > img {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 25px;
  top: 25px;
}

/* functional section styles */
.functional {
  text-align: center;
  margin-bottom: 120px;
}

.functional .functional_text h5 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.functional .functional_text h1 > span {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.functional .functional_text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.functional .functional_text p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 64px;
}

.functional .functional_images .bottom_img {
  width: 1040px;
}

.images_head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.box_img {
  position: relative;
  top: 197px;
  width: 400px;
  left: 111px;
}
.discount_img {
  position: relative;
  left: 108px;
  top: 8px;
  width: 300px;
  height: 300px;
  z-index: 5;
}
.woman_img {
  position: relative;
  right: 26px;
  z-index: 1;
  width: 400px;
  height: 400px;
}

/* portfolio section styles */
.portfolio {
  margin-bottom: 120px;
}

.portfolio .portfolio_text h5 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.portfolio .portfolio_text h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.portfolio .portfolio_text p {
  color: rgba(7, 2, 17, 0.6);
  width: 840px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}

.portfolio_images {
  overflow: hidden;
}

.portfolio_heder_images {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 23px;
  width: 350px;
  height: 350px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20px;
}

.portfolio_footer_images {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 23px;
  width: 350px;
  height: 350px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

/* subscribe section styles */
.subscribe {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  margin-bottom: 120px;
}

.subscribe h2 {
  color: #070211;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.subscribe p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

.subscribe > img {
  padding: 60px 0;
}
.subscribe form {
  padding: 60px;
  align-items: center;
}

.subscribe > form > input[type="email"] {
  width: 423px;
  height: 50px;
  border: none;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fff;
  font-size: 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  list-style: none;
}

.subscribe > form > input[type="email"]:focus {
  outline: none;
}

.subscribe > form > input[type="submit"] {
  width: 160px;
  height: 70px;
  border: none;
  padding: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #f00;
  margin-left: -125px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}

.subscribe > form > input[type="submit"]:hover {
  font-size: 20px;
  letter-spacing: 3px;
}

.subscribe > form > input[type="submit"]:hover:focus {
  outline: none;
}

/* footer section style */
.footer_section {
  text-align: center;
  background: #070211;
}

.footer_section .footer_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 120px 50px 120px;
}

.footer_section .footer_head p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
}

.footer_section .footer_head p > img {
  margin-right: 10px;
  margin-top: 10px;
}

.line {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.15);
}

.footer_body img {
  padding: 30px 20px;
}

.footer_section .footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px 30px 120px;
}

.footer_section .footer_bottom p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
