/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");

/* default styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.fix_width {
  width: 82%;
  max-width: 1600px;
  margin: auto;
}

/* header styles */
.header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner\ Image.png");
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-position: center;
  background-size: cover;
  padding: 147px 0;
}

.header.container {
  margin: -150px auto;
}

.container > h4 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.container > h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 61px;
  font-weight: 900;
  line-height: 65px;
  margin-top: 10px;
}

/* discount section styles */
.discount_section {
  text-align: center;
  margin-top: 139px;
}

.discount_section h1 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 40px;
}

.discount_section p {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 14px;
}

.discount_section h2 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 45px;
}

.discount_section img {
  width: 600px;
  height: 400px;
  margin-bottom: 120px;
}