/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");

/* default styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.fix_width {
  width: 82%;
  max-width: 1600px;
  margin: auto;
}

/* header styles */
.header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-position: center;
  background-size: cover;
  padding: 147px 0;
}

.header.container {
  margin: -150px auto;
}

.container > h4 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.container > h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 61px;
  font-weight: 900;
  line-height: 65px;
  margin-top: 10px;
}

/* discount section styles */
.discount_section {
  text-align: center;
  margin-top: 139px;
}

.discount_section h1 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 40px;
}

.discount_section p {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 14px;
}

.discount_section h2 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 45px;
}

.discount_section img {
  width: 600px;
  height: 400px;
  margin-bottom: 120px;
}

/* midnight party styles */
.midnight {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0%;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.midnight_text {
  padding-left: 48px;
  size: 50%;
}

.midnight_text h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 52px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0.6px;
  width: 527px;
}

.midnight_text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 571px;
  margin-bottom: 20px;
}

.btn {
  color: #f00;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #f00;
  border-radius: 15px;
  letter-spacing: 2px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  color: #fff;
  background: #f00;
  letter-spacing: 4px;
  border: none;
}

.new_year_2024 {
  width: 50%;
}

/* address section styles */
.address {
  text-align: center;
  height: 395px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0;
  margin-bottom: 100px;
}

.address strong {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
}

.address p {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

/* coming soot section styles */
.coming_soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.coming_soon_item h5 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.coming_soon_item h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.coming_soon_item p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  width: 338px;
  margin-bottom: 40px;
}

.coming_soon_item_last {
  margin-top: 74px;
}

.coming_soon_item_last h2 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.coming_soon_item_last p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  width: 233px;
  margin-bottom: 40px;
}

.coming_soon .coming_soon_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  background: #fff;
}

.coming_soon .coming_soon_img .img_round {
  position: relative;
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 50%;

  margin: 30px;
  border: 10px solid #f00;
}

.coming_soon .coming_soon_img .img_round > img {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 25px;
  top: 25px;
}
